<div id="product-search-template">
  Results' {stats.startIndex} - {stats.endIndex} of {stats.totalItems}
  <div>
    {#results}
    <a href="{url}">{title}</a>
    <div>
    </div>
    {url} - {date} - <a href="{similar-url}">Similar Pages</a>
    {/results}
  </div>
</div>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='geometrixx.product-search.main'}" data-sly-unwrap/>

<div class="search">
  <center>
    <input size="41" maxlength="2048" name="productSearch"/>
    <input value="${properties.searchText ? properties.searchText : 'Search' }" name="productSearchSubmit" type="submit"/>
  </center>
  <br>

<!-- TODO : All Data now onwards should come from Dust Template -->

  <div id="output">
  </div>

</div>
